
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div style="text-align: center">
<h2>Đây là trang chủ Admin</h2>
<img src="~/Content/img/hoihoa.jpg" width="500px"/>
</div>