@model IEnumerable<THWebBookStore.Models.SACH>
@{
    ViewBag.Title = "SPTheoNXB";
}

<div class="col-md-9">
    <div class="featured-product product">
        <div class="row align-items-stretch product-slider product-slider-4">
            @foreach (var sach in Model)
            {
                <div class="col-lg-3 d-flex">
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">@sach.Tensach</a>
                            <div class="ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="product-image">
                            <li>
                                <a href="@Url.Action("Details", "BookStore", new { id = sach.Masach })">
                                    <img alt="" src="~/Content/img/@sach.Anhbia">
                                    <span>@sach.Tensach</span>
                                </a>
                            </li>
                            <div class="product-action">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3><span>$</span>99</h3>
                            <a class="btn" href="#"><i class="fa fa-shopping-cart"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

